<h2>なりすまし行為で故意的に混同や誤解をさせる</h2>

Web上のコンテンツやSNSでは、なりすまし行為が頻発しています。なりすまし行為で故意的に混同や誤解をさせます。

<blockquote>
なりすましはTwitterルールで禁止されています。混同や誤解を招く形で他者を名乗るTwitterアカウントは、なりすましに関するTwitterのポリシーに沿って永久凍結される場合があります。
<a href="https://help.twitter.com/ja/safety-and-security/report-twitter-impersonation">なりすましアカウントを報告するには</a>
</blockquote>

Webは匿名であるため、簡単になりすますことができます。メールアドレスが異なれば登録できますし、二段階認証があっても、電話番号が異なれば、登録できるからです。

なりすましの報告制度はありますが、発見してから悪質なアカウントを凍結という順番なので、いたちごっごで、たくさんのなりすましアカウントがあるというのが実感です。

<h3>技術ブログでのなりすまし</h3>

TwitterやFacebookやInstagramはSNSで、なりすましは頻発していますが、ITの世界では、技術ブログでのなりすましが、かなり多い印象です。ステマ事業者を中心とするアカウントだと思われますが、技術ブログのプロフィール欄に、偽のプロフィールが書かれています。

<h3>嘘の学歴 - 学歴詐称</h3>

一つ目のなりすましは、学歴です。日本人は、学歴という権威に弱い傾向があります。これを利用して、高い学歴をプロフィールに記述します。

日本の大学で言うと多いのは、東京大学・京都大学、次に、東京工業大学といったところでしょうか。

海外の大学であれば「マサセッチュー工科大学」が、大学の権威として利用されていたりしますね。

ユーザーは「こんなすごい大学で、採用されているんだ～。すごーい。私も使ってみよう～」となりますね。

この感情を利用して、なりすましを行って、宣伝したい製品を利用させようとします。

実際の現場の技術者ではなく、ステマ広告事業者のアカウントです。東大卒・ベンチャー企業みたいなのは、よくあります。

<h3>嘘の経歴 - 経歴詐称</h3>

一部上場企業の名前が、勝手に利用されています。感覚的に、ソフトバンク系列の会社、DeNA、野村総研、NTTデータなどが、よく見られるでしょうか。

これも学歴と同じで「こんなにすごい一部上場企業で採用されているんだ～。私も使ってみよう～。」と誘導することが目的ですね。

<h3>嘘の年齢 - 年齢詐称</h3>

年齢も詐称しています。「学生」や「新卒の新人」くらいの年齢で、年齢を詐称していることが多いです。

40～50代のオジサンが使っている製品だとどんなイメージしょうか?

一方で、フレッシュな学生や新卒の新人が使っている製品だとどんなイメージでしょうか?

「へぇ～、今の若い人たちは、この製品を選んでいるんだ～。私も使って見よ～。○○はもうレガシー?」と誘導することが目的ですね。

<h3>嘘の性別 - 性別詐称</h3>

性別も詐称してきます。「どうみても、お前男だろ、その書き方、そのふるまい、おまえ男だろ。」と僕は感じますが、プロフィール欄には、若い女性と書かれており、写真は、女性の顔写真になっています。

「若い女性って、Web上に、そんなに簡単に、顔さらけ出すっけ。そんな女性、まず、いないよな」と思いながら、僕は見ていますが、ITエンジニアは、よくひっかかっているようです。性欲は、理性を超えるのでしょうか?

ステマ事業者は、ストーリーを作るために、まるで、現実世界の女性であるかのような、発言もTwitterに書き込みます。「女子エンジニア飲み会、いってきたよ～」。嘘つけ、コノヤロー。

<h3>Webの匿名世界は嘘に満ち溢れている</h3>

Webの匿名世界は嘘に満ち溢れています。ですので、Webだけの情報で自分の人生の決定をする選択をするいうのは、やめておくことをお勧めしますよ。5年間、口コミで、無料の宣伝活動をさせられた後、自分の望んでいる人生ではなかったということが起こります。

「じゃあ、信頼できる情報って、どこにあるのよ?」

それを見つけるコツのようなことも、書いていきますね。
