<h2>人間の好き嫌いの感情をコントロールして人気を得ようとするマーケティングについて</h2>

メディアでは、プログラミング言語の好き嫌いを過度に取り上げて、それを使って、人気を得ようとするマーケティングが行われているので、これについて書いておきます。

<h3>Webメディアは中立ではない</h3>

Webメディアは、中立ではないです。まず、読者の側は、このことを知っておきましょう。

Webメディアは、協力費をもらって、実質的には宣伝広告であるのに、中立を装うことによって、公正な判断がなされた情報であるかのように読者を錯覚させます。

協力費をもらいながら、それを伝えずに、報道を行うことは、日本の法律では違法ではありません。

ただし、倫理的な観点からみると、協力費をもらっている以上、広告であることを伝えなければ、読者を錯覚させてしまうことは、容易に想像できるはずです。

中立と公正を装いながら、シリコンバレーとシアトルのテック企業から協力費をもらえる話題ばかりを扱う。

それが2021年のWebメディアとなっています。

<h3>好き嫌いの感情を呼び起こす話題を選ぶ</h3>

Webメディアは、好き嫌いとランキングが大好きです。なぜでしょう?

もちろんそれが、多くの人を簡単に呼び込めるからです。

メディアを売り込むときに、テレビの視聴率と同じように、ページビューを、資料としてみせますね。

そうすると、ページビューを延ばすための、メディアの構成について、考えます。

「好き嫌いの感情を呼び起こす話題」「炎上ギリギリの話題」「競争心をあおる話題」

コンテンツのテストを繰り返すと、このような話題が、アクセス数を集めていることが、感覚的にわかってきます。

<h3>みんな大好き、世界中で愛されている、世界中で人気</h3>

シリコンバレーとシアトルのテック企業は、日本における宣伝広告を、自前でやっているということはないです。

日本の大手広告代理店に依頼します。日本の大手広告代理店は、テレビ、新聞、雑誌、Webメディア、コンテンツ制作、アフェリエイト、SNSインフルエンサー、電気店、コンビニなどに情報を発信するための、下請け企業を持っています。

大手広告代理店は、宣伝広告をさらに外注します。Webコンテンツ制作などは、さらに外注され、個人のフリーランサーまでいきます。

「5000文字〇〇円で、記事の作成を依頼します。このキーワードをタイトルに含めてください。最高に絶賛してください。すごく好きであることを文章にいれてください。みんな大好き、世界中で愛されている、世界中で人気。」

Twitterには、偽アカウントがあふれ、Webコンテンツ、アフェリエイトサイトには、偽ユーザーとステマがあふれます。

「○○言語最高」いいね。いいね。東南アジアなどの貧しい国々の人々にも外注されます。「1万いいねで〇〇円」「1万視聴で〇〇円」

「無知なユーザーを、釣って、釣って、釣りまくれ、盛大にやれば、やるほど、ばれないぞ!俺たちは儲かる!!!」

資金を出している最上流は、きれいな顔をして、法令遵守、人種差別反対、持続的な環境に配慮しますと、企業メッセージを出します。

でも、最下層で発生していることは、ランキング攻略、ステマ、フリーランサーへの不法誘因、貧しい国の人々をさらに貧しくする行為で、あふれています。

<h3>嫌いなプログラミングをステマで投票する</h3>

その同じ人たちが、今度は反対に、競合のプログラミング言語の嫌いランキングに投票します。

「いかにお前たちが嫌われているか。」「いかに学ぶべきではないか。」「もうすぐ滅びてしまう。」「もうすぐユーザーはいなくなってしまう。」「もうほとんどその言語のユーザーはいない」

「この素晴らしい、世界中で愛されていて、将来性が☆５の人気のあるプログラミング言語の私と比べて、お前は、いかに汚れて、汚く、人気がなく、もうすぐユーザーがいなくなるプログラミング言語か。」

こんなことを言われ続けたら、言われた側の、普通の感覚を持ったユーザーは、自然な「好き」という感情を素直に発信することができなくなるのではないでしょうか? 好きという自然な感情を、表向きに表現することができない。

ちなみに、2008年から2021年1月現在まで、Perlユーザーである僕の所へは、一度もアンケートを取りに来たことはないです。いったいどこの好き嫌いアンケートじゃい。

Perlに多く貢献するPerlユーザーのところにアンケートを取りに来ていないということは、他のPerlユーザーのところにアンケートを取りに行くことすらないのでしょうね。

だから、それは「信用できない好きと嫌いのランキング」。

<h3>繰り返される好悪マーケティング</h3>

このようなことは、Java, PHP, Ruby, node.js, Pythonと、順番に繰り返されてきて、2021年最後にあたるPythonにおいて、そのひどさは、最高潮を迎えています。繰り返す理由は、広告宣伝費を最高に稼ぐためです。

Pythonが悪いわけではなく、プログラミングコミュニティが、人気を集めるために、倫理観の低いマーケティングを、最高度に利用しているということです。

こっちが人気ときいたら、こっちへ行く。あっちが人気ときいたら、またあっちへ。今まで絶賛していたものを、オワコン扱いして、まったそっちへ。

<h3>適切な分野におけるプログラミング言語の公平な紹介を求める</h3>

Perl総合研究所が提案するのは「適切な分野におけるプログラミング言語の公平な紹介」です。

まず分野を提案することによって、ユーザーは何をしたいかということを考えます。

その特定の分野で、5つ以内くらいで、好き嫌いの感情やランキングを除いて、プログラミング言語を紹介します。

ユーザーの好き嫌いの感情に介入せず、自然にユーザーに選択してもらい、試してもらいます。

実際に試すと、インストールの難しさ、環境の巨大さ、記述の難しさ、コピペの難しさ、素晴らしいと宣伝されていることと、実際の体感の違いがわかります。

Perlを徹底的に無視し、取り上げるときは、あてつけにし、悪い情報だけを取り上げるという、心理的環境を害するWebメディアの手法に反対します。

「わたしたちは環境に配慮している。サステナビリティ。」と言いながら、実際には人間の心理的環境を害し、継続することを否定する企業を、偽善的なふるまいのために、私は低く評価します。

それよりも「適切な分野におけるプログラミング言語の公平な紹介」というだれにとっても、、公平な方法を提案します。
